@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

#pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}